@font-face {
    font-family: 'Sofia pro';
    src: url(fonts/sofiapro-light.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

body{
    color: #fff;
    font-family: 'Sofia pro';
    font-size: 25px;
    background-image: url(img/stars.jpg);
    background-size: cover;
    height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Zen Dots', cursive;
}

header{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: #000000c9;
    border-bottom: #ffffff80 solid .1px;
}

.logo{
    display:flex;
    justify-content: center;
}

.logo img{
    height: 100%;
    margin-left: 3px;
}

nav{
    width: 50%;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

li a{
    text-decoration: none;
    color: #fff;
}
main{
    height: 100%;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
}

.content h1{
    font-size: 200px;
}

.btn{
    background: #d318f8c9;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover{
    background: #d118f8;
}

.show{
    display: block;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30vh;
    align-items: center;
    width: 100%;
}

.mostrarListas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card{
    width: 30%;
    margin: 5px;
    border: #d118f8 solid 2px;
    background-color: #d318f8a2;
    border-radius: 8px;
    padding: 10px;
}

.cardContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

select, input{
    width: 250px;
    height: 30px;
    background: #d318f844;
    border: #d118f8 solid 1px;
    color: #fff;
    font-family: 'Sofia pro';
    font-size: 18px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

input[type="button"]:hover ,input[type="submit"]:hover{
    background: #d118f8;
}


/* font-family: 'Zen Dots', cursive; */